@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
a.active hr {
  width: 50%;
}

::-webkit-scrollbar {
  display: none;
}
@media (max-width: 640px) {
  a.active {
    color: black;
    font-weight: bold;
  }
}
@custom-variant dark (&:where(.dark, .dark*));
